/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

body {
  color: #333333 !important;
}
.masterportal-container {
  font-family: "MasterPortalFont", "Arial Narrow", Arial, sans-serif;
  color: #333333;
}
.font-bold {
  font-family: "MasterPortalFont Bold", "Arial Narrow", Arial, sans-serif;
}
.panel-default > .panel-heading {
  color: #333333;
}
.background-switcher {
  right: 30px;
  max-height: 60%;
  position: absolute;
  bottom: 50px;
  z-index: 98;
}
@media (min-width: 1500px) {
  .background-switcher {
    max-width: 30%;
  }
}
@media (max-width: 1500px) {
  .background-switcher {
    max-width: 50%;
  }
}
@media (max-width: 1024px) {
  .background-switcher {
    max-width: 60%;
  }
}
@media (max-width: 500px) {
  .background-switcher {
    max-width: 60%;
  }
}
.background-switcher .titlebar {
  display: flex;
  cursor: pointer;
}
.background-switcher .titlebar .title {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  padding-right: 5px;
}
.background-switcher img {
  width: 118px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1500px) {
  .background-switcher img {
    max-width: 118px;
    height: 118px;
  }
}
@media (max-width: 1500px) {
  .background-switcher img {
    max-width: 118px;
    height: 118px;
  }
}
@media (max-width: 1024px) {
  .background-switcher img {
    max-width: 118px;
    height: 118px;
  }
}
@media (max-width: 500px) {
  .background-switcher img {
    max-width: 90%;
    height: 90%;
  }
}
.background-switcher .glyphicon-arrow-right {
  cursor: pointer;
  background-color: #f8f8f8;
  color: #E10019;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2000;
}
.background-switcher .glyphicon-arrow-right:hover {
  cursor: pointer;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}
.background-switcher .glyphicon-arrow-left {
  cursor: pointer;
  background-color: #f8f8f8;
  color: #E10019;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2000;
}
.background-switcher .glyphicon-arrow-left:hover {
  cursor: pointer;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}
.background-switcher .collapsed .backgroundswitcher-preview.active img {
  width: auto;
  height: 118px;
}
.background-switcher .collapsed .backgroundswitcher-preview.active .backgroundswitcher-label {
  background-color: #f8f8f8;
  color: #333333;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 1024px) {
  .background-switcher .collapsed .backgroundswitcher-preview.active .backgroundswitcher-label {
    max-width: 118px;
  }
}
@media (max-width: 1024px) {
  .background-switcher .collapsed .backgroundswitcher-preview.active .backgroundswitcher-label {
    max-width: 118px;
  }
}
@media (max-width: 500px) {
  .background-switcher .collapsed .backgroundswitcher-preview.active .backgroundswitcher-label {
    width: 100%;
  }
}
@media (min-width: 500px) {
  .background-switcher .collapsed .backgroundswitcher-preview.active .info-btn {
    right: 10px;
  }
}
.background-switcher .glyphicon {
  cursor: pointer;
  background-color: #f8f8f8;
  color: #E10019;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.background-switcher .glyphicon:hover {
  cursor: pointer;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}
@media (min-width: 500px) {
  .background-switcher .info-btn {
    z-index: 99999;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
}
.background-switcher .backgroundswitcher-preview.active {
  border: 2px solid #f8f8f8;
}
.background-switcher .backgroundswitcher-preview.active .backgroundswitcher-label {
  background-color: #f8f8f8;
  color: #333333;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 1024px) {
  .background-switcher .backgroundswitcher-preview.active .backgroundswitcher-label {
    max-width: 118px;
  }
}
@media (max-width: 1024px) {
  .background-switcher .backgroundswitcher-preview.active .backgroundswitcher-label {
    max-width: 118px;
  }
}
@media (max-width: 500px) {
  .background-switcher .backgroundswitcher-preview.active .backgroundswitcher-label {
    width: 90%;
  }
}
.background-switcher .backgroundswitcher-preview {
  cursor: pointer;
  padding: 3px;
  position: relative;
  display: inline-block;
}
.background-switcher .backgroundswitcher-preview .active-background-layer {
  border: 3px solid gray;
}
.background-switcher .backgroundswitcher-preview .backgroundswitcher-label {
  background-color: #f8f8f8;
  color: #333333;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 1024px) {
  .background-switcher .backgroundswitcher-preview .backgroundswitcher-label {
    max-width: 118px;
  }
}
@media (max-width: 1024px) {
  .background-switcher .backgroundswitcher-preview .backgroundswitcher-label {
    max-width: 118px;
  }
}
@media (max-width: 500px) {
  .background-switcher .backgroundswitcher-preview .backgroundswitcher-label {
    width: 90%;
  }
}
#map .opacity-slider {
  bottom: 35px;
  min-width: 200px;
  max-height: unset !important;
  font-size: 12px;
  position: absolute;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #ffffffb3;
}
@media (min-width: 600px) {
  #map .opacity-slider {
    width: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  #map .opacity-slider {
    width: calc(100% - 160px);
    left: 10px;
  }
}
#map .opacity-slider #layerslider {
  width: 100%;
}
#map .opacity-slider #layerslider h5 {
  text-align: center;
  font-family: "MasterPortalFont Bold", "Arial Narrow", Arial, sans-serif;
}

