.coordinate-transform .btn-group.bootstrap-select.-coordinate-transform {
  position: absolute;
}
.coordinate-transform .selectpicker-coordinate-transform {
  visibility: hidden;
}
.coordinate-transform .ui-autocomplete {
  z-index: 99999;
  background-color: #ffffff;
  border: 1px solid gray;
}
.coordinate-transform .coordinate-title-wrapper {
  display: flex;
}
.coordinate-transform .coordinate-title-wrapper .coordinate-source {
  flex: 1;
}
.coordinate-transform .coordinate-title-wrapper .coordinate-target {
  flex: 1;
}
.coordinate-transform .coordinate-crs-wrapper {
  display: flex;
}
.coordinate-transform .coordinate-crs-wrapper #sourcecrs {
  min-width: 180px;
}
.coordinate-transform .coordinate-crs-wrapper #targetcrs {
  min-width: 180px;
}
.coordinate-transform .coordinate-crs-wrapper .ui-widget {
  flex: 1;
}
.coordinate-transform .coordinate-crs-wrapper .ui-widget #sourcecrs.invalid {
  border: 1px solid red;
  background-color: #ffc9c9;
}
.coordinate-transform .coordinate-crs-wrapper .ui-widget #targetcrs.invalid {
  border: 1px solid red;
  background-color: #ffc9c9;
}
.coordinate-transform .coordinate-crs-wrapper .dropdown-menu {
  max-height: 10em !important;
  overflow: y !important;
}
.coordinate-transform .coordinate-wrapper {
  display: flex;
  padding-top: 33px;
}
.coordinate-transform .coordinate-wrapper .coordinate-input {
  flex: 1;
  margin-top: 5px;
}
.coordinate-transform .coordinate-wrapper .coordinate-input textarea {
  min-width: 200px;
}
.coordinate-transform .coordinate-wrapper .coordinate-input textarea.invalid {
  border: 1px solid red;
  background-color: #ffc9c9;
}
.coordinate-transform .coordinate-wrapper .coordinate-output {
  flex: 1;
  margin-top: 5px;
}
.coordinate-transform .coordinate-wrapper .coordinate-output textarea {
  min-width: 200px;
}
.coordinate-transform .coordinates-loading {
  background-color: #bfbfbf;
  background-repeat: no-repeat;
  background-position: center;
}
.ui-helper-hidden-accessible {
  display: none;
}

